.card-products {
  border: 1px solid black;
  margin: 5px 5px;
  text-align: center;
  width: 180px;
  
}

.img-products {
  height: 150px;
  width: 130px;
}

.render-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
